<app-header titulo="Comidas"></app-header>

<div></div>

<div>
  <ion-toolbar class="toolbar-color-categoria">

    <ion-slides>
      <ion-slide>

        <ion-chip class="btcategoriacardapio" collapse="true">
          <ion-icon class="item" color="light" name="restaurant-outline"></ion-icon>
          <ion-label color="light">Ver Comidas</ion-label>
        </ion-chip>

        <ion-chip routerLink="/cardapiobebidas" class="btcategoriacardapio" collapse="true">
          <ion-icon class="item" color=#ffffff name="wine-outline"></ion-icon>
          <ion-label color=#ffffff>Ver Bebidas</ion-label>
        </ion-chip>
      </ion-slide>

    </ion-slides>
  </ion-toolbar>

  <ion-toolbar class="toolbar-color-subcategoria">

    <ion-slides>
      <ion-slide>


        <ion-chip (click)="selecionarCriterio('Comidas','Pratos')" class="btsubcategoriacardapio">
          <ion-icon name="heart-outline" color={{corbotaocerveja}}></ion-icon>
          <ion-label class="textobtsubcategoria" color={{corbotaocerveja}}>Pratos</ion-label>
        </ion-chip>



        <ion-chip (click)="selecionarCriterio('Comidas','Porcao')" class="btsubcategoriacardapio"
          style="border-color:'{{corbotaorefrigerante}}';">
          <ion-icon name="location-outline" color={{corbotaorefrigerante}}></ion-icon>
          <ion-label class="textobtsubcategoria" color={{corbotaorefrigerante}}>Porções</ion-label>
        </ion-chip>

        <ion-chip (click)="selecionarCriterio('Comidas','Sobremesas')" class="btsubcategoriacardapio">
          <ion-icon name="star-outline" color={{corbotaosucos}}></ion-icon>
          <ion-label class="textobtsubcategoria" color={{corbotaosucos}}>Sobremesas</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>



  </ion-toolbar>
</div>

<ion-content class="corpo">

   <!-- List of Sliding Items -->

  <span *ngFor="let publi of publicacao">


    <div *ngIf="publi.subcategoria==subcriterio">


      <ion-list>
        <ion-item-sliding>
         <!-- <ion-item class="itemcardapio">
            <ion-label>{{publi.titulo}}</ion-label><br>
            <ion-label>{{publi.subtitulo}}</ion-label>
            <ion-label>{{publi.descricao}}</ion-label>
          </ion-item> -->

          <ion-item  class="itemcardapio1">
            <ion-avatar slot="start">
              <img src="https://source.unsplash.com/random/100x100">
            </ion-avatar>
            <ion-label >
              <h2 color="warning">{{publi.titulo}}</h2>
              <h5 color="warning" >{{publi.subtitulo}}</h5>
              <p color="warning" >{{publi.descricao}}</p>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option class="btexcluir" (click)="deletePublicacao(publi.id)">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

       
      </ion-list>
    </div>
  </span>
  <ion-fab  routerLink="/publicar-comidas" vertical="bottom" horizontal="end" slot="fixed" color="warning">
    <ion-fab-button  color="warning">
      <ion-icon color="medium" name="add"></ion-icon>
     </ion-fab-button>
    </ion-fab>
</ion-content>