<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- AQUI FICARÃO OS CONTATOS -->

  <ion-list class="grupo-contato">
    <ion-item-group class="item-contato">

      <!-- List Header Inset Lines -->
      <ion-list-header color="primary">
        <ion-label>Botecando - Nova Iguaçu</ion-label>
      </ion-list-header>

      <ion-item class="label-contato">
        <ion-label>Email: appbotecando@gmail.com</ion-label>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Telefone: 99 99999-9999</ion-label>
        <ion-icon slot="start" name="call-outline"></ion-icon>
      </ion-item>
    </ion-item-group>

    <ion-item-group class="item-contato">

      <!-- List Header Inset Lines -->
      <ion-list-header color="primary">
        <ion-label>Botecando - Belford Roxo</ion-label>
      </ion-list-header>

      <ion-item class="label-contato">
        <ion-label>Email: appbotecando@gmail.com</ion-label>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Telefone: 99 99999-9999</ion-label>
        <ion-icon slot="start" name="call-outline"></ion-icon>
      </ion-item>

    </ion-item-group>

    <ion-item-group class="item-contato">

      <!-- List Header Inset Lines -->
      <ion-list-header color="primary">
        <ion-label>Botecando - São João de Meriti</ion-label>
      </ion-list-header>

      <ion-item class="label-contato"> 
        <ion-label>Email: appbotecando@gmail.com</ion-label>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Telefone: 99 99999-9999</ion-label>
        <ion-icon slot="start" name="call-outline"></ion-icon>
      </ion-item>
      
    </ion-item-group>

    
  </ion-list>

</ion-content>