<app-header titulo="Promoções"></app-header>

<div></div>

<div>
  <ion-toolbar class="toolbar-color-categoria">
  </ion-toolbar>

</div>

<ion-content>

  <span *ngFor="let promo of promocao">

    <div *ngIf="promo.categoria==categoria">

      <ion-list>

        <!-- ADICIONADO UM CARTAO PARA APARECER NO FORMATO DE LISTA -->

        <ion-card>

          <!-- FOTO DO CARDAPIO OU PRODUTO EM PROMOCAO -->
          <!-- <img src="https://source.unsplash.com/random/400x100" alt=""> -->

          <!-- ITENS DA LISTA -->
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://source.unsplash.com/random/100x100" alt="">      
            </ion-avatar>
            <!-- TITULO DA PROMOCAO -->
            <ion-label>{{promo.titulo}}</ion-label>
            <!-- BOTAO PARA ABRIR UM POPUP E VISUALIZAR DETALHES DA PROMOCAO -->
            <ion-button fill="clear" color="primary" slot="end" (click)="tornarDestaque(promo.id,promo)" >View</ion-button>
          </ion-item>
        
          <ion-card-content>

            <!-- DESCRICAO DA PROMOCAO -->
            <ion-label>{{promo.descricao}}</ion-label>

          </ion-card-content>
        </ion-card>
        
        <!-- <ion-item-sliding>

          <ion-item class="itemcardapio">
            <ion-label>{{promo.titulo}}</ion-label><br>
            <ion-label>{{promo.subtitulo}}</ion-label>
            <ion-label>{{promo.descricao}}</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option class="btdestaque" (click)="tornarDestaque(promo.id,promo)" background-color="success">
              {{promo.textobotaodedestaque}}</ion-item-option>
            <ion-item-option class="btexcluir" (click)="deletePromocao(promo.id)">Excluir</ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
 -->

      </ion-list>
    </div>
  </span>

</ion-content>