*{
    font-family: helvetica, sans-serif;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 10%;

    &.bottom {
        bottom: 40%;
    }

    span {
        color: #fff;
    }
    }

    .subtitulo {
        margin: 0px;
        text-align: center;
        color: #F8F7FF;
        font-size: 13px;
        font-family: helvetica, sans-serif;
    }

    .titulo {
        text-align: center;
        color: #F8F7FF;
        font-family: helvetica, sans-serif;
        padding-bottom: 20px;
    }

}

ion-slides {

    height: 100%;

    .slide-inner {
        width: 80%;
        color: #F8F7FF;

        ion-item {
            --background: #fff;
            --border-radius: 5px;

            ion-input {
                --color: black;
                font-size: 14px;
            }
        }
    }
}

/* TEMA PRINCIPAL */

.ocean {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #b02a40;
    background-image: linear-gradient(135deg, #b02a40 11%, #f51c3e 45%, #781717 100%);

}

.btsegmento {
    background-color: #F8F7FF;
}

.segmentos {
    --color: #F51C3E;
    --border-width: 2px;
    --background-focused: #F8F7FF;
    --color-checked: #F8F7FF;
    --indicator-color: #F51C3E;
    font-weight: bold;
}

.icone-login{
    
}

.login-botao{
    color: whitesmoke;
    font-weight: bolder;
}