<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Avaliação do Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">Qual o seu grau de satisfação com o estabelecimento?</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">01</ion-col>
      <ion-col size="2">02</ion-col>
      <ion-col size="2">03</ion-col>
      <ion-col size="2">04</ion-col>
      <ion-col size="2">05</ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
