<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Adicionar Bebidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-list  >  

    
    <ion-item>
      <ion-input type="text" [(ngModel)]="publicacao.titulo" placeholder="Titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="publicacao.subtitulo" placeholder="Subtitulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="publicacao.urlfoto" placeholder="Foto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="publicacao.descricao" placeholder="Descrição"></ion-input>
    </ion-item>
    
    <ion-list>
      <ion-list-header>
        <ion-label>
          Selecione a Categoria:
        </ion-label>
      </ion-list-header>
    
      


      <ion-item>
        
        <ion-label>Categoria</ion-label>
        <ion-select [(ngModel)]="publicacao.subcategoria" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value=Refrigerante>Refrigerante</ion-select-option>
          <ion-select-option value="Suco">Suco</ion-select-option>
          <ion-select-option value="Cerveja">Cerveja</ion-select-option>
         
          
        </ion-select>
      </ion-item>
    
    </ion-list>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveProduct()" expand="block">
      Salvar Bebida
    </ion-button>
  </ion-toolbar>
</ion-footer>

