<ion-menu side="start" menu-id="first" content-id="main" contentId="principal">
  <ion-header>
    <ion-toolbar color="tertiary">

      <!-- Botão Fechar Menu-->
      <ion-buttons slot="start">
        <ion-button (click)="closeMenu()" >
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!--Estrutura do Menu-->
      
      <ion-title>Menu | Usuário</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="cart" slot="start"></ion-icon>
        Promoções
      </ion-item>
      <ion-item>
        <ion-icon name="restaurant" slot="start"></ion-icon>
        Cardapios
      </ion-item>
      <ion-item>
        <ion-icon name="fast-food" slot="start"></ion-icon>
        Produtos
      </ion-item>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        Filiais
      </ion-item>
      <ion-item>
        <ion-icon name="receipt" slot="start"></ion-icon>
        Avaliação
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        Contato
      </ion-item>
      <ion-item>
        <ion-icon name="close" slot="start"></ion-icon>
        Sair
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

