<app-header titulo="Cardapio Bebidas"></app-header>

<div></div>

<div>
  <ion-toolbar class="toolbar-color-categoria">

    <ion-slides>
      <ion-slide>

        <ion-chip routerLink="/cardapiocomidas" class="btcategoriacardapio" collapse="true">
          <ion-icon class="item" name="restaurant-outline"></ion-icon>
          <ion-label>Comidas</ion-label>
        </ion-chip>

        <ion-chip class="btcategoriacardapio" collapse="true">
          <ion-icon class="item" color="light" name="wine-outline"></ion-icon>
          <ion-label color="light">Bebidas</ion-label>
        </ion-chip>
      </ion-slide>

    </ion-slides>
  </ion-toolbar>

  <ion-toolbar class="toolbar-color-subcategoria">

    <ion-slides>
      <ion-slide>
        <!-- Botões Para Selecionar o tipo da bebida, Chama a função selecionarCriterio,
      para alterar a variavel criterio e subcategoria  -->

        <ion-chip (click)="selecionarCriterio('Bebidas','Cerveja')" class="btsubcategoriacardapio">
          <ion-icon name="heart-outline" color={{corbotaocerveja}}></ion-icon>
          <ion-label class="textobtsubcategoria" color={{corbotaocerveja}}>Cervejas</ion-label>
        </ion-chip>



        <ion-chip (click)="selecionarCriterio('Bebidas','Refrigerante')" class="btsubcategoriacardapio"
          style="border-color:'{{corbotaorefrigerante}}';">
          <ion-icon name="location-outline" color={{corbotaorefrigerante}}></ion-icon>
          <ion-label class="textobtsubcategoria" color={{corbotaorefrigerante}}>Refrigerantes</ion-label>
        </ion-chip>

        <ion-chip (click)="selecionarCriterio('Bebidas','Suco')" class="btsubcategoriacardapio">
          <ion-icon name="star-outline" color={{corbotaosucos}}></ion-icon>
          <ion-label class="textobtsubcategoria" color={{corbotaosucos}}>Sucos</ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>



  </ion-toolbar>
</div>

<ion-content class="corpo">


  <!-- Imprime na Tela  uma Ion-List de todos as publicaçoes (produtos),
que a sub categoria é igual a variavel subcriterio. Essa variavel altera,
de acordo com a funçao selecionarCriterio() -->

  <span *ngFor="let publi of publicacao">

    <div *ngIf="publi.subcategoria==subcriterio">


      <ion-list>
        <ion-item-sliding>
          <!-- <ion-item class="itemcardapio">

            <ion-label> {{publi.titulo}} - {{publi.subtitulo}}</ion-label><br>
            <ion-label>{{publi.subtitulo}}</ion-label>
            <ion-label>{{publi.descricao}}</ion-label>
          </ion-item> -->

          <ion-item class="itemcardapio1">
            <ion-avatar slot="start">
              <img src="https://source.unsplash.com/random/100x100">
            </ion-avatar>
            <ion-label>
              <h2 color="warning">{{publi.titulo}}</h2>
              <h5 color="warning">{{publi.subtitulo}}</h5>
              <p color="warning">{{publi.descricao}}</p>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option class="btexcluir" (click)="deletePublicacao(publi.id)">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>
    </div>
  </span>
  <ion-fab routerLink="/publicar-bebidas" vertical="bottom" horizontal="end" slot="fixed" color="warning">
    <ion-fab-button>
      <ion-icon color="medium" class="icon-color" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>